
.app{
  background: #3498db;
  height: 100vh;
}
.centered-element{
  margin-left: auto;
  margin-right: auto;
  /* background-color: grey; */
  padding: 15px;
  width: 600px;
  height: 100px;
}
.titre{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-color: rgb(224, 88, 88); */
  padding: 15px;
  /* width: 600px; */
}
.message{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background-color: rgb(224, 88, 88); */
  padding: 15px;
  /* width: 600px; */
}
.but{
  position: relative;
  margin-left: auto
  ;
  margin-right: auto;
  /* background-color: rgb(224, 88, 88); */
  padding: 15px;
  /* width: 600px; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .container{
  position: relative;
} */

.child{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #0f0d0d;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.ctn{
  position: relative;
}
.modal{
  position: absolute;
  top:100px;
}
.form{
  background-color: #3cb0fd;
  justify-items: center;
  justify-content: center;
/* text-align: center; */

}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.contenaire{
  display: inline;
}

.inputcontenaire{
  margin: 10% auto auto 35%;
}
.input{
  justify-content: space-between;
}
.tag{
  margin-right: 35px;
}
.cancelbtn{
  margin-left: 110px;
}
.modalspacing{
  margin-top: 10px;
}

button:hover{
  cursor: pointer;
}